@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
.contenido {
  color: #ffff;
  text-align: center; }

.footer {
  background-color: RGBA(33, 37, 41, var(--bs-bg-opacity, 1));
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 120px; }

body {
  background-image: url(https://res.cloudinary.com/vaerdi/image/upload/v1660779853/overpass_qgqbx7.jpg);
  background-size: 100%;
  font-family: "Poppins", sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.navbar img {
  width: 180px; }

.navbar .container-fluid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center; }

.footer li {
  display: inline;
  margin: 10px; }

.footer span {
  color: white;
  text-decoration: none; }

.footer a {
  color: white;
  text-decoration: none; }

@media (min-width: 768px) {
  .footer a:hover {
    color: #c7cc00;
    transition: .9s; } }

.contenido-index {
  text-align: center;
  color: #ffff; }
  .contenido-index h1 {
    font-weight: 700;
    text-transform: uppercase;
    color: #ce2b0c; }
  .contenido-index h3 {
    font-weight: 600;
    text-transform: uppercase;
    color: #ffff; }
  .contenido-index li {
    list-style: none; }
  .contenido-index .boton-index {
    box-shadow: 5px 5px 5px RGBA(0, 0, 0, 0.45); }
  .contenido-index .btn a {
    color: #ffff;
    text-decoration: none; }

@media (max-width: 390px) {
  .contenido-index {
    padding-top: 100px;
    height: 75vh; }
    .contenido-index h1 {
      font-weight: 700;
      text-transform: uppercase;
      color: #ce2b0c; } }

@media (max-width: 768px) {
  .contenido-index {
    padding-top: 150px;
    height: 78vh; } }

@media (min-width: 768px) {
  .contenido-index {
    padding-top: 150px;
    height: 78vh; }
    .contenido-index h1 {
      color: #ce2b0c;
      text-transform: uppercase;
      top: 50%;
      width: 24em;
      margin: 0 auto;
      border-right: 2px solid rgba(255, 255, 255, 0.75);
      font-size: 40px;
      font-weight: 700;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      transform: translateY(-50%); }
  /* Animación */
  .anim-typewriter {
    animation: typewriter 2s steps(14) 1s 1 normal both, blinkTextCursor 500ms steps(44) infinite normal; } }

@keyframes typewriter {
  from {
    width: 0; }
  to {
    width: 8em; } }

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75); }
  to {
    border-right-color: transparent; } }

.container .row {
  padding-top: 10px;
  padding-bottom: 44px;
  justify-content: space-around; }

.container .card {
  height: 350px;
  background-color: #212529;
  color: #ffff;
  border-radius: 20px;
  box-shadow: 5px 5px 5px RGBA(0, 0, 0, 0.45); }
  .container .card img {
    margin-top: 10px; }
  .container .card .card-body {
    height: 50px; }

@media (max-width: 390px) {
  .container {
    height: 240vh; }
    .container .card {
      margin-bottom: 30px; } }

@media (min-width: 768px) {
  .container {
    height: 80vh;
    padding-top: 120px;
    padding-bottom: 50px; }
    .container .card:hover {
      transform: scale(1.1);
      transition: .3s; } }

.grid-container {
  margin-top: 50px;
  margin-bottom: 50px; }
  .grid-container .vip {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 30px;
    justify-items: center; }
    .grid-container .vip .card {
      height: 350px;
      background-color: #212529;
      color: #ffff;
      border-radius: 20px;
      box-shadow: 5px 5px 5px RGBA(0, 0, 0, 0.45); }
      .grid-container .vip .card img {
        margin-top: 10px;
        padding: 9px; }
      .grid-container .vip .card .card-body {
        height: 50px; }

@media (max-width: 390px) {
  .card {
    margin-bottom: 30px; } }

@media (min-width: 768px) {
  .card:hover {
    transform: scale(1.1);
    transition: .3s; } }

.staff {
  height: 60vh; }
  .staff h2 {
    color: #ce2b0c;
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center; }
  .staff .avatares {
    text-align: center; }
  .staff img {
    border-radius: 100px;
    margin: 15px;
    box-shadow: 5px 5px 5px RGBA(0, 0, 0, 0.45); }
  .staff .usuarios {
    text-align: center;
    margin-left: 20px; }
  .staff a {
    text-decoration: none;
    color: #212529; }
  .staff .btn-warning {
    margin: 80px; }
  .staff .info {
    margin: 0 auto;
    max-width: 1200px; }

@media (min-width: 768px) {
  .avatares img:hover {
    transform: scale(1.2);
    transition: .2s; } }

.formulario {
  background-color: RGBA(0, 0, 0, 0.85);
  width: 450px;
  margin: 0 auto;
  border-radius: 75px;
  padding: 40px;
  margin-bottom: 50px;
  box-shadow: 5px 5px 5px RGBA(0, 0, 0, 0.45); }
  .formulario label {
    color: #ffff; }
  .formulario textarea {
    resize: none; }
  .formulario select {
    margin: 5px; }
  .formulario input {
    border-radius: 10px;
    font-size: 15px;
    margin-top: 0px; }
  .formulario .terminos {
    margin-left: 5px; }
  .formulario .frm {
    margin-top: 100px; }

@media (max-width: 390px) {
  .formulario {
    width: 40vh; }
    .formulario textarea {
      width: 180px; }
  .btn-warning {
    margin: 55px; } }

body::-webkit-scrollbar {
  height: 200px;
  background: #212529;
  margin-bottom: 25px; }

body::-webkit-scrollbar-thumb {
  background-color: #414141;
  border-radius: 5px; }

.contenido h1 {
  font-weight: 700;
  text-transform: uppercase;
  color: #ce2b0c; }

.contenido h3 {
  font-weight: 600;
  text-transform: uppercase; }

.contenido li {
  list-style: none; }

.contenido .info {
  max-width: 800px;
  margin: 0 auto; }

@media (min-width: 768px) {
  .contenido {
    padding-top: 90px; } }
