// Navegación
.navbar {
    img {
        width: 180px;
    }
    .container-fluid{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center
    }
}

// Footer
.footer {
    @extend %contenidoFooter;
    li {
        display: inline;
        margin: 10px;
    }
    span {
        color: white;
        text-decoration: none;
    }
    a {
        color: white;
        text-decoration: none;
    }
}

@media (min-width: 768px) {
    .footer a:hover {
        color: $amarilo;
        transition: .9s;
    }
}

